<div
  class="min-h-screen flex items-center justify-center flex-col w-full m-auto md:max-w-5xl lg:max-w-7xl"
>
  <main
    class="min-h-screen flex items-center justify-center flex-col w-full m-auto md:max-w-5xl lg:max-w-7xl"
  >
    <slot />
  </main>
</div>
